<?xml version="1.0"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net"/>   
  </configSections>
  <log4net>
    <!--定义输出到文件中-->
    <appender name="LogFileAppender" type="log4net.Appender.FileAppender">
      <!--定义文件存放位置-->
      <file value="E:/log/log4netfile.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd-HH:mm:ss" />
      <layout type="log4net.Layout.PatternLayout">
        <!--每条日志末尾的文字说明-->
        <footer value="" />
        <!--输出格式-->
        <!--样例：2008-03-26 13:42:32,111 [10] INFO  Log4NetDemo.MainClass [(null)] - info-->
        <conversionPattern value="记录时间：%date 线程ID:[%thread] 日志级别：%-5level 出错类：%logger property:[%property{NDC}] - 错误描述：%message%newline" />
      </layout>
    </appender>
    <root>
      <!--文件形式记录日志-->
      <appender-ref ref="LogFileAppender" />
    </root>
  </log4net>
  <appSettings>
    <!--工具文件夹-->
    <add key="ffmpeg" value="Ffmpeg/ffmpeg.exe"/>
    <add key="mencoder" value="Mencoder/mencoder.exe"/>
    <add key="mplayer" value="Mencoder/mplayer.exe"/>
    <!--上传文件的路径-->
    <add key="upfile" value="UploadVideo"/>
    <!--上专文件图片路径-->
    <add key="imgfile" value="VideoImg"/>
    <!--上传文件图片大小-->
    <add key="CatchFlvImgSize" value="240x180"/>
    <add key="widthSize" value="600"/><!--400-->
    <add key="heightSize" value="600"/><!--350-->
    <!--转换后文件路径-->
    <add key="playfile" value="PlayVideo"/>

    <add key="UploadRoot" value="UploadImg/"/>
    <add key="UploadExtension" value=".jpg,.jpeg,.gif,.png/"/>
    <add key="UploadSizeB" value="2096000"/>
    <!--<add key="UploadWH" value="68_68_G,290_215_W"/>-->
    <!--<add key="UploadWH" value="68_68_G,224_224_W"/>-->
    <add key="UploadWH" value="68_68_G,224_224_W,400_400_M"/>
    <add key="strKey" value="BF0C4A1B-8289-4D25-A946-5D8FAE05B850"/>
  </appSettings>
  <connectionStrings>
    <add name="sqlconn" connectionString="Data Source=CHINA-74868A9D8;Initial Catalog=test;Integrated Security=True;"/>
    <add name="testConnectionString" connectionString="Data Source=CHINA-74868A9D8;Initial Catalog=test;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!--<pages validateRequest="false" theme="Default" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add src="~/UserControls/EmptyDataControl.ascx" tagName="EmptyDataControl" tagPrefix="sof"/>
        <add namespace="SoF.Web.Controls" assembly="SoF.Web" tagPrefix="sof"/>
        --><!--end--><!--
      </controls>
    </pages>-->
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Management, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Windows"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpRuntime useFullyQualifiedRedirectUrl="true" maxRequestLength="30720" executionTimeout="120"/>
  </system.web>
</configuration>
