@charset "UTF-8";
/* CSS Document */

/*bug report*/
.bug-report{}

.bug-report h2{ text-align:center; font-size:24px; font-weight:bold; color:#666; margin:20px auto; padding-bottom:20px; border-bottom:1px #ccc solid;}
.bug-search{text-align:center; font-size:16px;}
.bug-search .txt_blank{ width:500px; height:30px; padding:5px; text-align:left; margin:0 20px;}
.bug-search  .s_btn{padding:0;border:none;cursor:pointer;text-align:center;width:120px;height:33px;font-size:14px;line-height:33px;color:#fff;background:#007fd8;border-radius:3px;}
.s_btn:hover {text-decoration:none;}
.s_btn:active {background:#04519f;}
.bug-btn{text-align:center; font-size:16px; margin:30px auto;}
.bug-btn .top_btn{padding:0;border:1px #ccc solid;cursor:pointer;text-align:center;width:170px;height:45px;font-size:18px;line-height:40px;color:#666;background:#fff;border-radius:6px; margin-right:20px;}
.bug-btn .post_btn{padding:0; border:0; cursor:pointer;text-align:center;width:170px;height:45px;font-size:18px;line-height:40px;color:#fff;background: #FF9D00 ;border-radius:6px; margin-right:20px;}

.bug_table {
	margin:0px;padding:0px;
	width:100%;
	border:1px solid #7f7f7f;
	
}
	
.bug_table table{
    border-collapse: collapse;
        border-spacing: 0;
	width:100%;
	height:100%;
	margin:0px;padding:0px;
}.bug_table tr:hover td{
	
}
.bug_table tr:nth-child(odd){ background-color:#edf5fd; }
.bug_table tr:nth-child(even)    { background-color:#ffffff; }
.bug_table td{
	vertical-align:middle;
	border:1px solid #ccc;
	border-width:0px 1px 1px 0px;
	text-align:center;
	padding:10px;
	font-size:12px;
	font-weight:bold;
	color:#000000;
}.bug_table tr:last-child td{
	border-width:0px 1px 0px 0px;
}.bug_table tr td:last-child{
	border-width:0px 0px 1px 0px;
}.bug_table tr:last-child td:last-child{
	border-width:0px 0px 0px 0px;
}
.bug_table tr:first-child td{
		background:-o-linear-gradient(bottom, #007fd8 5%, #007fd8 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007fd8), color-stop(1, #007fd8) );
	background:-moz-linear-gradient( center top, #007fd8 5%, #007fd8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#007fd8", endColorstr="#007fd8");	background: -o-linear-gradient(top,#007fd8,007fd8);

	background-color:#007fd8;
	border:0px solid #7f7f7f;
	text-align:center;
	border-width:0px 0px 1px 1px;
	font-size:14px;
	font-family:Arial;
	font-weight:bold;
	color:#ffffff;
}
.bug_table tr:first-child:hover td{
	background:-o-linear-gradient(bottom, #007fd8 5%, #007fd8 100%);	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #007fd8), color-stop(1, #007fd8) );
	background:-moz-linear-gradient( center top, #007fd8 5%, #007fd8 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr="#007fd8", endColorstr="#007fd8");	background: -o-linear-gradient(top,#007fd8,007fd8);

	background-color:#007fd8;
}
.bug_table tr:first-child td:first-child{
	border-width:0px 0px 1px 0px;
}
.bug_table tr:first-child td:last-child{
	border-width:0px 0px 1px 1px;
}



/* bug post*/
.bug_post {margin:10px auto;padding:0px;}
.bug_post h2 {font-size:20px;font-weight:bold;color:#000;line-height:45px;border-bottom:#ccc 1px solid; text-align:center;}
.bug_post table {margin:20px auto; width:840px;}
.bug_post td {padding:10px; width:300px;}
.bug_post .qtitle{ font-weight:bold; font-size:16px; padding-top:30px;}
.bug_post .input_td{margin-left:25px;}
.bug_post .adash{ border-bottom:1px dashed #A7A7A7; padding-bottom:30px; }
.bug_post .txt_l{ width:800px; height:30px; line-height:30px;}
.bug_post .top_notice{ text-align:left; color:#DC0004; font-weight:bold; line-height:36px;}
.bug_post .read_post{ text-decoration:none; background:#7F7C7C; color:#FFFFFF; padding:2px 8px; border-radius:3px;}
.btns {padding:0;border:none;cursor:pointer;text-align:center; }
.btns:hover {text-decoration:none;}
.btn-2 {width:120px;height:33px;font-size:14px;line-height:33px;color:#fff;background:#007fd8;border-radius:3px; padding:10px 20px;margin-left:0px;}
.btn-2:hover,.btn-2:active {background:#04519f;}