
/*reset*/
@charset "utf-8";
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block }
body
{
	line-height: 1;
	color: #333;
	font: 14px/1.5 Arial, Helvetica, Verdana, sans-serif
}
ol, ul, li { list-style: none }
blockquote, q
{
	quotes: none;
	border-left: solid 4px #39c;
	margin-left: 10px;
	padding-left: 10px;
	background: #f5f5f5;
	margin: 10px auto;
	padding: 6px 10px;
	color: #666;
	font-size: 20px
}
i
{
	font-style: normal;
	font-weight: normal
}
blockquote:before, blockquote:after, q:before, q:after
{
	content: '';
	content: none
}
table
{
	border-collapse: collapse;
	border-spacing: 0
}
a img { border: 0 }
h1 { font-size: 24px }
h2 { font-size: 20px }
h3 { font-size: 18px }
h4 { font-size: 14px }
h5, h6 { font-size: 12px }
a { text-decoration: none }
a:hover { text-decoration: underline }
div { display: block }
.tl { text-align: left }
.tc { text-align: center }
.tr { text-align: right }
table
{
	border-collapse: separate;
	border-spacing: 0
}
th, td
{
	text-align: left;
	font-weight: normal
}
img, iframe
{
	border: none;
	text-decoration: none
}
input, textarea, select, button
{
	font-size: 100%;
	font-family: inherit;
	margin: 0;
	padding: 0
}
select { margin: inherit }
hr
{
	margin: 0;
	padding: 0;
	border: 0;
	color: #000;
	background-color: #000;
	height: 1px
}
html { -webkit-text-size-adjust: none }
a
{
	color: #39c;
	text-decoration: none
}
a:hover { text-decoration: underline }
a { outline: none }
a:focus { *outline:0
}
* html, * html body
{
	background-image: url(about:blank);
	background-attachment: fixed
}
.fl
{
	float: left;
	_display: inline
}
.fr
{
	float: right;
	_display: inline
}
.pr { position: relative }
.fb { font-weight: 700 }
.fb0 { font-weight: 100 }
.hid { overflow: hidden }
.font1 { font-size: 12px }
.font2 { font-size: 14px }
.font3 { font-size: 16px }
.font4 { font-size: 18px }
.font5 { font-size: 20px }
.db { display: block }
.clearfix:after
{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden
}
*html .clearfix { height: 1% }
*+html .clearfix { height: 1% }
.clearfix { display: inline-block }
.clearfix { display: block }
.clear
{
	clear: both;
	height: 0;
	overflow: hidden
}
.yh { font-family: 'Microsoft YaHei' }
.st { font-family: 'Microsoft YaHei' }
.ar { font-family: 'Arial' }
.placeholder { color: #ccc }
input::-webkit-input-placeholder {
color:#ccc
}
input::-moz-placeholder {
color:#ccc
}
textarea::-webkit-input-placeholder {
color:#ccc
}
textarea::-moz-placeholder {
color:#ccc
}
.text-autocut
{
	overflow: hidden;
	white-space: nowrap;
	-webkit-text-overflow: ellipsis;
	-khtml-text-overflow: ellipsis;
	-icab-text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}
.text-hide
{
	display: block;
	font-size: 0;
	text-indent: -99999em;
	color: transparent
}
.no-wrap { white-space: nowrap }
.text-wrap
{
	text-wrap: wrap;
	white-space: pre-wrap;
	white-space: -moz-pre-wrap;
	word-wrap: break-word
}
.dib
{
	display: inline-block;
*zoom:1;
	vertical-align: top;
	font-size: 0;
*word-spacing:-1px;
	letter-spacing: -5px;
	letter-spacing: -4px;
	word-spacing: -4px
}
/*reset over*/





a { color: #666 }
body
{
	font-size: 14px;
	color: #666;
	line-height: 24px;
	font-family: 'Microsoft YaHei'
}
.l { color: #3b70e1 !important }
.l2 { color: #09f !important }
.l3 { color: #39ccab !important }
.w
{
	width: 946px;
	min-width: 946px;
	margin: 0 auto
}
.w975
{
	width: 975px;
	margin: 0 auto
}
.h10 { height: 10px;line-height: 10px;}
.h30 { height: 33px }






/*top*/
.logo
{
	float: left;
	display: block;
	padding-top: 15px
}
.top
{
	padding-top: 10px;
	height: 102px;
	background: url(../images/topbtmline.png) center bottom no-repeat
}
.top div.fr { width: 545px }
.top div.fr span
{
	padding: 0 20px;
	font-weight: bold;
	color: #004ea2
}
.top div.fr span a
{
	color: #004ea2;
	padding: 0 5px
}
.top div.fr .login-lv2
{
	display: inline-block;
	background-color: #fff;
	z-index: 8;
	left: 20px;
	background-color: #333;
	width: 60px;
	padding: 5px 20px;
	display: none
}
.top div.fr .login-lv2 a:hover
{
	color: #fff;
	text-decoration: underline
}
.top a.dxx
{
	display: inline-block;
	padding-left: 25px;
	background: url(../images/dxx.png) 0 center no-repeat;
	margin-right: 10px
}
.top a.car
{
	display: inline-block;
	background: url(../images/car.png) 0 center no-repeat;
	padding-left: 25px
}
.top a.car2 { background-image: url(../images/car2.png) }
.top p { font-size: 12px }
.top a:hover { text-decoration: none }
.top ul
{
	padding-top: 7px;
	float: right;
	_display: inline
}
.top li
{
	float: left;
	font-size: 16px;
	color: #666;
	padding-left: 45px
}
.top li a
{
	color: #666;
	display: inline-block;
	padding-top: 18px;
	width: 41px;
	text-align: center
}
.top span.login-ok
{
	padding-top: 5px;
	padding-bottom: 5px;
	display: inline-block;
	padding-right: 15px;
	background: url(../images/dsj.png) right center no-repeat;
	color: #666;
	margin-right: 10px;
	cursor: pointer;
	z-index: 2
}
.top span.login-ok a
{
	display: inline-block;
	white-space: nowrap
}
.top li.active a, .top li a:hover
{
	color: #02b2ca;
	background: url(../images/ahover.png) center 5px no-repeat
}
/*top over*/






/*main*/
.main { padding-top: 26px }
.main .tips
{
	width: 930px;
	margin: 0 auto;
	height: 30px;
	line-height: 30px;
	border: 2px solid #00aeef;
	background-color: #fff799;
	color: #00aeef;
	margin-bottom: 23px
}
.main .tips p
{
	background: url(../images/dui.png) 14px center no-repeat;
	padding-left: 50px
}
.main .tips .close
{
	display: block;
	width: 30px;
	height: 30px;
	background: url(../images/x.png) center center no-repeat;
	position: absolute;
	right: 0;
	top: 0
}

/*main over*/




/*login*/
.loginbox
{
	margin: 0 20px;
	padding-bottom: 145px
}
.loginbox h2.t
{
	font-size: 18px;
	color: #666;
	margin-bottom: 30px
}
.loginbox .td
{
	font-size: 16px;
	color: #999;
	margin-right: 15px;
	height: 40px;
	line-height: 40px
}
.loginbox .td input
{
	border: 0;
	height: 38px;
	border: 1px solid #ccc;
	line-height: 38px;
	padding: 0 10px;
	width: 250px;
*margin-top:-1px
}
.loginbox .td .remPwd
{
	width: auto;
	height: auto;
	vertical-align: middle;
	margin-top: 13px;
	border: none;
*margin-top:10px;
	margin-right: 7px
}
.loginbox .td .yzm
{
	width: 110px;
	float: left;
	margin-right: 10px;
	position: relative;
*top:2px
}
.loginbox .td img.fl { cursor: pointer }
.loginbox .td a.l { font-size: 12px }
.loginbox .tr
{
	margin-bottom: 16px;
	height: 40px
}
.loginbox span.t { width: 70px }
.loginbox span.txt
{
	width: 272px;
	position: relative
}
.loginbox .placeholder { color: #ccc }
.loginbox .tip
{
	font-size: 12px;
	color: #f00
}
.loginbox .btn
{
	width: 218px;
	height: 47px;
	_line-height: 35px;
	text-align: center;
	background-color: #004ea2;
	color: #fff;
	font-size: 18px;
	border: 0;
	margin-left: 80px;
	cursor: pointer;
	border-radius: 4px;
	outline: none;
	letter-spacing: 5px
}
.loginbox .par-login
{
	width: 375px;
	padding-top: 55px
}
.loginbox .par-login img { margin: 0 3px }
.loginbox .p-login-reg
{
	margin-top: 35px;
	color: #666
}
.loginbox .p-login-reg a { color: #0199ff }
.loginbox a.gotoLogin
{
	padding-left: 157px;
	display: inline-block;
	margin-top: 15px
}
.loginbox .tiaokuan { font-size: 12px }
/*login  over*/





/*footer*/
.footer
{
	background-color: #000;
	color: #999;
	height: 300px;
	overflow: hidden
}
.footer .box { padding: 22px 0 32px 0 }
.footer .box a
{
	color: #999;
	padding: 0 18px
}
.footer span.fl { margin-left: -18px }
.footer div.p
{
	color: #999;
	font-size: 12px;
	padding-top: 37px;
	line-height: 27px
}
.footer div.p a
{
	padding: 0;
	padding: 0 5px;
	color: #666
}
.footer div.p img { vertical-align: middle }
.footer div.p p.gz { padding-top: 10px }
.footer .erweima
{
	width: 66px;
	height: 66px;
	position: absolute;
	right: 5px;
	top: 60px
}
/*footer over*/



/*弹出框*/
.greybox
{
	position: fixed;
	_position: absolute;
	width: 100%;
	height: 2000px;
	left: 0;
	top: 0;
	background: url(../images/tm44.png);
	z-index: 999;
	display: none
}
/*弹出迷你登陆框*/
.minilogin
{
	width: 880px;
	height: 328px;
	border: 1px solid #a1a1a1;
	background-color: #fff;
	position: absolute;
	z-index: 1000;
	left: 50%;
	top: 117px;
	margin-left: -440px
}
.minilogin .loginbox .par-login
{
	width: 355px;
	float: right;
	_display: inline;
	margin-right: 35px;
	margin-top: 17px
}
.minilogin .loginbox .par-login img { margin: 0 }
.minilogin .loginbox div.fl { padding-top: 20px }
.minilogin .txt { position: relative }
.minilogin .p-login-reg { font-size: 12px }
.minilogin .loginbox { padding-bottom: 0 }
.minilogin .closeBtn
{
	display: block;
	width: 32px;
	height: 32px;
	background: url(../images/x2.png) no-repeat;
	position: absolute;
	right: -10px;
	top: 10px;
	z-index: 1001
}
.minilogin .formtips
{
	left: 0;
	top: 29px;
	font-size: 12px
}
/*注册弹出框*/
.reg-ok-box
{
	width: 477px;
	height: 328px;
	background-color: #fff;
	position: absolute;
	left: 50%;
	margin-left: -238px;
	top: 150px
}
.reg-ok-box div.pr
{
	padding-top: 95px;
	padding-left: 101px
}
.reg-ok-box h2
{
	padding-left: 45px;
	height: 29px;
	line-height: 29px;
	padding-bottom: 5px;
	font-size: 29px;
	color: #676767;
	background: url(../images/dui1.png) no-repeat;
	margin-bottom: 10px
}
.reg-ok-box .returnLogin
{
	display: block;
	font-size: 18px;
	margin-top: 25px;
	width: 275px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	background-color: #00aeef
}
.reg-ok-box a:hover { text-decoration: none }
.reg-ok-box a.closeBtn
{
	display: block;
	width: 25px;
	height: 25px;
	background: url(../images/x.jpg);
	position: absolute;
	right: 10px;
	top: 10px
}
/*表单验证提示*/
.formtips
{
	position: absolute;
	left: 285px;
	top: 0;
	z-index: 5;
	display: block;
	width: 200px;
	font-size: 12px
}
.onError { color: #f00 }
.onSuccess { color: #008000 }

/*登陆界面*/
.login-main
{
	height: 460px;
	background-color: #f8f8f8
}
.login-main .flashbox
{
	width: 430px;
	padding-top: 37px
}
.login-main .screen
{
	width: 430px;
	height: 360px
}
.login-main .screen li
{
	position: absolute;
	left: 0;
	top: 0;
	width: 430px;
	height: 360px
}
.login-main .dian { height: 30px }
.login-main .dian span
{
	display: inline-block;
	width: 10px;
	height: 10px;
	overflow: hidden;
	background-color: #b7b7b7;
	border-radius: 50%;
	margin: 5px;
	text-indent: -9999px
}
.login-main .dian span.active { background-color: #007fd8 }
.login-main-box
{
	width: 391px;
	height: 381px;
	background: url(../images/loginbg.png) 0 0 no-repeat;
	margin-top: 40px;
	font-size: 12px;
	margin-right: 20px
}
.login-main-box h1
{
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	line-height: 18px;
	padding-top: 20px;
	padding-bottom: 15px;
	color: #098acc
}
.login-main-box .box
{
	width: 270px;
	margin: 0 auto
}
.login-main-box .tipsbox
{
	height: 29px;
	text-align: center;
	display: none
}
.login-main-box .tipsbox .tips-error
{
	border: 1px solid #fff799;
	color: #f00;
	line-height: 27px;
	background: url(../images/xtips.png) 50px center no-repeat #ffffe2
}
.login-main-box .item
{
	margin-top: 15px;
	font-size: 14px;
	width: 267px;
	height: 38px;
	line-height: 38px;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	overflow: hidden
}
.login-main-box .item span { padding-left: 10px }
.login-main-box .item input
{
	float: right;
	_display: inline;
	height: 38px;
	line-height: 38px;
	outline: none;
*height:34px;
*line-height:38px;
font-size: 12px;
background: transparent;
}
.login-main-box .user input
{
	width: 178px;
	border: 0;
}
.login-main-box .pwd input
{
	width: 212px;
	border: 0
}
.login-main-box .re-pwd
{
	padding-top: 19px;
	padding-bottom: 24px;
	height: 13px;
	line-height: 21px
}
.login-main-box .re-pwd span { padding-left: 10px }
.login-main-box .re-pwd a { color: #ff2020 }
.login-main-box .re-pwd .remPwd
{
	position: relative;
	top: 1px
}
.login-main-box .re-pwd .chklist { margin: 0 }
.login-main-box .submit-box
{
	height: 39px;
	line-height: 39px;
	overflow: hidden
}
.login-main-box .submit-box span.fr
{
	width: 120px;
	text-align: right
}
.login-main-box .submit-box a
{
	color: #007fd8;
	padding-left: 5px
}
.login-main-box .submit-btn
{
	width: 139px;
	height: 39px;
	border-radius: 5px;
	background-color: #007fd8;
	text-align: center;
	line-height: 39px;
	color: #fff;
	font-size: 16px;
	float: left;
	_display: inline;
	border: 0;
	cursor: pointer
}
.login-main-box .other-login h2
{
	height: 12px;
	line-height: 12px;
	padding-top: 20px;
	padding-bottom: 18px;
	font-size: 12px;
	color: #666;
	text-align: center
}
.login-main-box .other-login img
{
	vertical-align: middle;
	margin-right: 5px
}
.login-main-box .other-login a { padding: 0 2px }
.chklist { margin-left: 10px }

/*注册界面*/
.reg-main
{
	height: 517px;
	background: #f8f8f8;
	padding: 25px 0
}
.reg-main .chklist { margin: 0 }
.reg-main .chklist label.checkbox { margin-right: 0 }
.reg-main .w
{
	height: 517px;
	background: url(../images/regbg.png) center center no-repeat
}
.reg-main td
{
	line-height: 42px;
	padding: 6px 0
}
.reg-main td.t
{
	width: 130px;
	padding-right: 20px
}
.reg-main td.t strong { float: right }
.reg-main .txt
{
	font-size: 12px;
	position: relative;
	width: 245px;
	padding: 0 13px;
	line-height: 42px;
	height: 42px;
	outline: none;
*height:38px;
*line-height:38px;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	margin-right: 15px;
	float: left;
	_display: inline
}
.reg-main h1
{
	font-size: 18px;
	font-weight: bold;
	text-align: left;
	line-height: 18px;
	padding-top: 20px;
	padding-bottom: 15px;
	color: #098acc;
	padding-left: 155px
}
.reg-main .yzm { width: 75px }
.reg-main .ok
{
	display: inline-block;
	width: 14px;
	text-indent: -9999px;
	background: url(../images/ok.png) 0 center no-repeat;
	float: left;
	_display: inline
}
.reg-main span.error
{
	float: left;
	_display: inline;
	color: #f00
}
.reg-main .error, .reg-main .ok { display: none }
.reg-main .re-pwd
{
	padding-top: 9px;
	padding-bottom: 14px;
	height: 21px;
	line-height: 21px
}
.reg-main .re-pwd a { color: #ff2020 }
.reg-main .re-pwd .remPwd
{
	position: relative;
	top: 1px
}
.reg-main .re-pwd .fwxy { color: #666 }
.reg-main .submit-box
{
	height: 39px;
	line-height: 39px;
	overflow: hidden
}
.reg-main .submit-box span.fr
{
	width: 120px;
	text-align: right
}
.reg-main .submit-box a
{
	color: #007fd8;
	padding-left: 5px
}
.reg-main .submit-btn
{
	width: 139px;
	height: 39px;
	border-radius: 5px;
	background-color: #007fd8;
	text-align: center;
	line-height: 39px;
	color: #fff;
	font-size: 16px;
	float: left;
	_display: inline;
	border: 0;
	cursor: pointer;
	margin-right: 10px
}
.reg-main .other-login img
{
	vertical-align: middle;
	margin-right: 5px
}
.reg-main .other-login a { padding: 0 2px }
.reg-main .other-login p.t
{
	font-size: 14px;
	color: #a0a0a0;
	padding-left: 75px;
	line-height: 20px;
	padding-top: 15px
}
.reg-main .tel-yzm { display: none }
.reg-main .tel-yzm b
{
	display: inline-block;
	position: absolute;
	background-color: #fff799;
	line-height: 21px;
	border: 1px solid #b7b7b7;
	color: #79786c;
	left: 48px;
	bottom: 38px;
	white-space: nowrap;
	display: none
}
.reg-main .resetYzm
{
	padding-left: 10px;
	color: #007fd8
}
.reg-main .telyzm { width: 100px }
.reg-main .msnicon
{
	width: 50px;
	height: 44px;
	background: url(../images/msnicon.png) 0 0 no-repeat;
	margin-right: 7px
}
.reg-main .msnicon:hover { background-position: 0 -43px }
.reg-main .voiceicon
{
	width: 50px;
	height: 44px;
	background: url(../images/voiceicon.png) 0 0 no-repeat
}
.reg-main .voiceicon:hover { background-position: 0 -43px }

/*发布欢迎*/
.sub-wel-main
{
	height: 517px;
	background: #f8f8f8;
	padding: 25px 0
}
.sub-wel-main .w
{
	height: 517px;
	background: url(../images/regbg.png) center center no-repeat
}
.sub-wel-main .imgtxt
{
	width: 382px;
	margin-left: 15px;
	margin-top: 15px
}
.sub-wel-main .imgtxt p
{
	padding-left: 45px;
	padding-right: 10px
}
.sub-wel-main .infor { width: 505px }
.sub-wel-main h1
{
	height: 22px;
	font-style: italic;
	line-height: 22px;
	padding-top: 45px;
	padding-left: 24px;
	color: #333
}
.sub-wel-main h2
{
	color: #333;
	line-height: 18px;
	font-size: 18px;
	padding-top: 13px;
	padding-bottom: 13px;
	border-bottom: 1px solid #ebebeb;
	padding-left: 24px
}
.sub-wel-main h3
{
	padding-left: 24px;
	font-size: 14px;
	line-height: 24px;
	color: #666;
	padding-top: 5px
}
.sub-wel-main .xieyi
{
	padding-left: 24px;
	padding-top: 11px;
	padding-bottom: 30px;
	line-height: 21px;
	font-size: 12px
}
.sub-wel-main .chklist
{
	margin: 0;
	height: 24px
}
.sub-wel-main .area
{
	width: 487px;
	height: 220px;
	background-color: #fafafa;
	border: 1px solid #f5f5f5;
	margin-left: 10px
}
.sub-wel-main h4
{
	font-size: 18px;
	color: #333;
	padding-top: 18px;
	padding-bottom: 15px;
	line-height: 18px
}
.sub-wel-main .goto-submitpage
{
	margin-top: 30px;
	margin-bottom: 20px;
	display: inline-block;
	width: 162px;
	height: 42px;
	line-height: 42px;
	text-align: center;
	color: #fff;
	font-size: 18px;
	background-color: #09f;
	border-radius: 8px
}
.sub-wel-main .goto-submitpage:hover
{
	text-decoration: none;
	background-color: #0389e5
}
.sub-wel-main .goso-success-pro img
{
	vertical-align: middle;
	position: relative;
	bottom: 2px
}
.sub-wel-main .goso-success-pro:hover
{
	color: #09f;
	text-decoration: none
}


/*找回密码*/
.resetpwd-main
{
	background-color: #f4f4f4;
	padding: 30px 0 42px
}
.resetpwd-main .w
{
	border: 1px solid #0074ba;
	border-radius: 8px;
	background-color: #fff;
	height: auto;
	padding-bottom: 25px
}
.resetpwd-main h1
{
	height: 49px;
	line-height: 49px;
	border-bottom: 1px dashed #d9d9d9;
	padding-left: 30px;
	font-size: 18px;
	color: #0079c1
}
.resetpwd-main .jdt
{
	width: 280px;
	margin: 30px auto;
	height: 34px
}
.resetpwd-main .jdt li
{
	width: 125px;
	height: 7px;
	background-color: #e1e4e9;
	float: left;
	_display: inline;
	position: relative;
	line-height: 7px
}
.resetpwd-main .jdt em.s
{
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	left: -2px;
	top: -5px;
	background: url(../images/y17x16b.png) no-repeat;
	z-index: 5;
	color: #007fd8
}
.resetpwd-main .jdt em.ss
{
	display: block;
	width: 17px;
	height: 17px;
	position: absolute;
	right: -2px;
	top: -5px;
	background: url(../images/y17x16.png) no-repeat;
	z-index: 5
}
.resetpwd-main .jdt li.on { background-color: #007fd8 }
.resetpwd-main .jdt li.on em.ss
{
	background: url(../images/y17x16b.png) no-repeat;
	color: #007fd8
}
.resetpwd-main .jdt span
{
	display: inline-block;
	margin: 0 15px;
	white-space: nowrap;
	position: absolute;
	z-index: 6;
	left: -40px;
	top: 30px;
	line-height: 14px
}
.resetpwd-main .jdt li span { left: -35px }
.resetpwd-main td
{
	line-height: 42px;
	padding: 6px 0
}
.resetpwd-main td.t
{
	width: 330px;
	padding-right: 20px
}
.resetpwd-main td.t strong { float: right }
.resetpwd-main .txt
{
	font-size: 12px;
	width: 245px;
	padding: 0 13px;
	line-height: 42px;
	outline: none;
	height: 42px;
	*height:38px;
	*line-height:38px;
	border: 1px solid #ccc;
	-webkit-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	box-shadow: inset 0 1px 3px rgba(0,0,0,0.1);
	margin-right: 15px;
	float: left;
	_display: inline
}
.resetpwd-main .yzm { width: 75px }
.resetpwd-main .ok
{
	display: inline-block;
	width: 14px;
	text-indent: -9999px;
	background: url(../images/ok.png) 0 center no-repeat;
	float: left;
	_display: inline
}
.resetpwd-main span.error
{
	float: left;
	_display: inline;
	color: #f00
}
.resetpwd-main .error, .resetpwd-main .ok { display: none }
.resetpwd-main .submit-box
{
	height: 39px;
	line-height: 39px;
	overflow: hidden
}
.resetpwd-main .submit-box span.fr
{
	width: 120px;
	text-align: right
}
.resetpwd-main .submit-box a.submit-btn
{
	color: #fff;
	padding-left: 5px
}
.resetpwd-main .submit-box a:hover { text-decoration: none }
.resetpwd-main .submit-btn
{
	width: 139px;
	height: 39px;
	border-radius: 5px;
	background-color: #007fd8;
	text-align: center;
	line-height: 39px;
	color: #fff;
	font-size: 16px;
	float: left;
	_display: inline;
	border: 0;
	cursor: pointer;
	margin-right: 10px
}
.resetpwd-main .tel-yzm { display: none }
.resetpwd-main .tel-yzm b
{
	display: inline-block;
	position: absolute;
	background-color: #fff799;
	line-height: 21px;
	border: 1px solid #b7b7b7;
	color: #79786c;
	left: 48px;
	bottom: 38px;
	white-space: nowrap;
	display: none
}
.resetpwd-main .resetYzm
{
	padding-left: 10px;
	color: #007fd8
}
.resetpwd-main .telyzm { width: 100px }
.resetpwd-main .step2con { padding-left: 270px }
.resetpwd-main .step2con p
{
	margin: 15px 0;
	line-height: 30px
}
.resetpwd-main .step3con
{
	font-size: 18px;
	line-height: 24px;
	padding: 10px 0 15px
}
.resetpwd-main .step3con img
{
	vertical-align: middle;
	position: relative;
	right: 10px;
	bottom: 3px
}
/*面包屑*/
.mbx
{
	height: 60px;
	line-height: 60px
}
.mbx a:hover { color: #3b70e1 }

/*评审界面*/
.pingshen-box
{
	background-color: #fff;
	border-radius: 8px;
	border: 1px solid #0070b5
}
.pingshen-box .title
{
	height: 60px;
	line-height: 60px;
	overflow: hidden;
	padding: 0 27px;
	font-size: 12px
}
.pingshen-box .title .fl { margin-right: 20px }
.pingshen-box .title h1.fl
{
	font-size: 18px;
	font-weight: bold;
	color: #333;
	margin-right: 50px
}
.pingshen-box .psjl
{
	width: 69px;
	background: url(../images/psjl.png) center center no-repeat;
	margin-left: 35px;
	padding-left: 32px;
	color: #fff;
	text-decoration: none;
	font-size: 14px
}
.pingshen-box .psjl:hover
{
	color: #fff;
	text-decoration: none
}
.pingshen-box .sharelink
{
	padding-left: 55px;
	background: url(../images/sharelink.png) center center no-repeat;
	font-size: 14px
}
.pingshen-box a:hover { color: #2898d1 }
.pingshen-box .funbtn { color: #414141 }
.pingshen-box .bianji { color: #333 }

.pingshen-main { background-color: #f4f4f4 }
.pingshen-main .des-box { padding: 0 10px 65px 10px }
.pingshen-main .product-des { width: 505px }
.pingshen-main .des-txt
{
	font-size: 12px;
	height: 97px
}
.pingshen-main .product-price
{
	height: 36px;
	line-height: 36px;
	font-size: 18px;
	color: #333;
	margin-bottom: 30px;
	margin-top: 20px
}
.pingshen-main .product-price strong
{
	color: #39ccab;
	font-size: 36px
}
.pingshen-main .product-price .jdt
{
	width: 250px;
	background: url(../images/jdt.png) center 12px no-repeat
}
.pingshen-main .product-price .jdt-line
{
	width: 211px;
	height: 7px;
	line-height: 7px;
	margin: 0 auto
}
.pingshen-main .product-price .jdt-line b
{
	display: block;
	width: 16px;
	height: 23px;
	background: url(../images/6.png) 0 0 no-repeat;
	position: absolute;
	left: 0;
	top: 0
}
.pingshen-main .product-price .jdt-line b span
{
	display: inline-block;
	height: 15px;
	line-height: 15px;
	padding: 0 5px;
	border: 1px solid #39ccab;
	color: #39ccab;
	position: absolute;
	left: 0;
	bottom: 23px;
	font-size: 12px;
	white-space: nowrap
}
.pingshen-main .product-price .price-number
{
	line-height: 12px;
	font-size: 12px;
	padding-top: 20px;
	height: 20px
}
.pingshen-main .product-price .price-number span
{
	display: inline-block;
	width: 20%;
	float: left;
	_display: inline;
	height: 20px;
	line-height: 20px;
	text-align: center
}
.pingshen-main .product-price .price-number .span1 { width: 45px }
.pingshen-main .product-price .price-number .span2 { width: 75px }
.pingshen-main .product-price .price-number .span3 { width: 80px }
.pingshen-main .product-price .price-number .span4 { width: 50px }
.pingshen-main .select-submit
{
	padding: 25px;
	background-color: #e8f7f0
}
.pingshen-main .areabox
{
	padding-top: 5px;
	height: 97px
}
.pingshen-main .areabox textarea
{
	padding: 5px;
	border: 1px solid #c2c2c2;
	background-color: #fff;
	font-size: 12px;
	width: 442px;
	height: 87px;
	max-width: 442px;
	max-height: 87px
}
.pingshen-main .tijiao
{
	height: 40px;
	line-height: 40px;
	overflow: hidden;
	padding-top: 23px;
	font-size: 12px
}
.pingshen-main .tijiao a { color: #39ccab }
.pingshen-main .to-examine
{
	width: 170px;
	height: 40px;
	background-color: #39ccab;
	font-size: 18px;
	color: #fff;
	text-align: center;
	border-radius: 8px;
	font-weight: bold;
	border: 0;
	cursor: pointer
}
.pingshen-main .tab
{
	padding-left: 33px;
	height: 31px;
	line-height: 31px
}
.pingshen-main .tab span
{
	display: inline-block;
	padding: 0 15px;
	background-color: #e3e4e8;
	border-radius: 8px 8px 0 0;
	color: #727070;
	font-size: 14px;
	cursor: pointer
}
.pingshen-main .tab span.active
{
	background-color: #39ccab;
	color: #fff
}
.pingshen-main .tabCon
{
	background: url(../images/smbg.png) 0 0 repeat-x;
	padding-top: 35px
}
.pingshen-main .pinglun-list { padding: 0 45px }
.pingshen-main .pinglun-list li
{
	line-height: 18px;
	padding: 17px 0 13px;
	height: 1%;
	overflow: hidden;
	border-bottom: 1px solid #ccc;
	color: #666
}
.pingshen-main .pinglun-list li span { margin-left: 25px }
.pingshen-main .pinglun-list li p.fl { width: 600px }
.pingshen-main .pinglun-list .vip-lv
{
	display: inline-block;
	padding-right: 30px;
	background: url() right center no-repeat
}
.pingshen-main .pinglun-list .vip-lv5 { background-image: url(../images/vip-lv5.png) }
.pingshen-main .btn-Group
{
	padding: 35px 0;
	height: 40px;
	line-height: 40px;
	text-align: center
}
.pingshen-main .btn-Group a
{
	display: inline-block;
	width: 140px;
	height: 40px;
	color: #fff;
	font-size: 18px;
	border-radius: 8px;
	margin: 0 10px
}
.pingshen-main .return-sumbmit { background-color: #09f }
.pingshen-main .submit-product { background-color: #959595 }
.pingshen-main .submit-product:hover, .pingshen-main .return-sumbmit:hover
{
	background-color: #007fd8;
	text-decoration: none
}
.clearfix:after
{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0
}
*html .clearfix { zoom: 1}



/*主图播放*/
.preview
{
	width: 400px;
	height: 465px
}
.smallImg
{
	position: relative;
	height: 66px;
	margin-top: 1px;
	padding: 15px 0;
	width: 380px;
	overflow: hidden;
	float: left
}
.scrollbutton
{
	width: 14px;
	height: 50px;
	overflow: hidden;
	position: relative;
	float: left;
	cursor: pointer
}
#imageMenu
{
	height: 72px;
	width: 380px;
	margin-left: 0;
	float: left;
	overflow: hidden
}
#imageMenu ul { width: 400px }
#imageMenu li
{
	height: 80px;
	width: 77px;
	overflow: hidden;
	float: left;
	text-align: center
}
#imageMenu li img
{
	width: 66px;
	height: 66px;
	cursor: pointer
}
#imageMenu li#onlickImg img, #imageMenu li:hover img
{
	width: 60px;
	height: 60px;
	border: 3px solid #0a84da
}
.bigImg
{
	position: relative;
	float: left;
	width: 380px;
	height: 380px;
	overflow: hidden
}
.bigImg #midimg
{
	width: 380px;
	height: 380px
}
.bigImg #winSelector
{
	width: 235px;
	height: 210px
}
#winSelector
{
	position: absolute;
	cursor: crosshair;
	filter: alpha(opacity=15);
	-moz-opacity: .15;
	opacity: .15;
	background-color: #000;
	border: 1px solid #fff
}
#bigView
{
	position: absolute;
	border: 1px solid #959595;
	overflow: hidden;
	z-index: 999
}
#bigView img { position: absolute }


/*评审弹出框*/
#ps-ok, #fabu-ok
{
	position: absolute;
	left: 50%;
	margin-left: -290px;
	top: -600px;
	width: 580px;
	height: 480px;
	background-color: #fff
}
#ps-ok .fubu-ok, #fabu-ok .fubu-ok { padding-top: 36px }
#ps-ok h1, #fabu-ok h1
{
	color: #09f;
	font-size: 18px
}
#ps-ok ol, #fabu-ok ol
{
	width: 334px;
	height: 24px;
	border-top: 7px solid #e1e4e9;
	margin: 45px auto 0
}
#ps-ok li, #fabu-ok li
{
	float: left;
	width: 33.3%;
	position: relative;
	height: 24px
}
#ps-ok li em, #fabu-ok li em
{
	display: block;
	padding: 0 17px;
	height: 34px;
	background: url(../images/y34.png) center center no-repeat;
	position: absolute;
	left: -17px;
	top: -20px
}
#ps-ok li em.s, #fabu-ok li em.s { background-image: url(../images/y17.png) }
#ps-ok li i, #fabu-ok li i
{
	display: block;
	padding: 0 17px;
	height: 34px;
	background: url(../images/y34.png) center center no-repeat;
	position: absolute;
	right: -17px;
	top: -20px
}
#ps-ok li b, #fabu-ok li b
{
	display: inline-block;
	background-color: #fff;
	margin-top: 10px;
	height: 14px;
	line-height: 12px;
	padding: 3px 0
}
#ps-ok .third em, #fabu-ok .third em { left: -55px }
#ps-ok .third i, #fabu-ok .third i { right: -60px }
#ps-ok .bt, #fabu-ok .bt
{
	border-top: 6px solid #01b2ca;
	margin-top: -6px
}
#ps-ok li.on i, #fabu-ok li.on i, #ps-ok li.on em, #fabu-ok li.on em { background-image: url(../images/y34b.png) }
#ps-ok li.on em.s, #fabu-ok li.on em.s { background-image: url(../images/y17x16c.png) }
#ps-ok .txt, #fabu-ok .txt { padding-left: 10px }
#ps-ok .txt span, #fabu-ok .txt span
{
	display: inline-block;
	width: 120px
}
#ps-ok .hui, #fabu-ok .hui
{
	width: 415px;
	height: 150px;
	margin: 40px auto 24px;
	background-color: #f6f8fa;
	border: 1px solid #e3e4e8;
	text-align: center
}
#ps-ok .hui span, #fabu-ok .hui span
{
	margin: 0 16px;
	background: url() center 35px no-repeat;
	display: inline-block;
	width: 92px;
	height: 30px;
	padding-top: 90px;
	line-height: 30px
}
#ps-ok .hui span a, #fabu-ok .hui span a
{
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	text-align: center;
	border: 1px solid #09f;
	border-radius: 3px
}
#ps-ok .hui span a:hover, #fabu-ok .hui span a:hover
{
	color: #09f;
	border-color: #09f;
	text-decoration: none
}
#ps-ok .hui .jxfb, #fabu-ok .hui .jxfb { background-image: url(../images/gh.png) }
#ps-ok .hui .ckfb, #fabu-ok .hui .ckfb { background-image: url(../images/ck.png) }
#ps-ok .hui .fx, #fabu-ok .hui .fx { background-image: url(../images/share.png) }
#ps-ok .want-gh, #fabu-ok .want-gh
{
	text-align: center;
	font-size: 12px
}
#ps-ok .want-gh a, #fabu-ok .want-gh a
{
	display: inline-block;
	width: 76px;
	height: 24px;
	line-height: 24px;
	text-align: center;
	border: 1px solid #666;
	margin-left: 15px
}
#ps-ok .want-gh a:hover, #fabu-ok .want-gh a:hover
{
	color: #09f;
	border-color: #09f;
	text-decoration: none
}
#ps-ok .closeBtn, #fabu-ok .closeBtn
{
	display: block;
	width: 24px;
	height: 24px;
	background: url(../images/x4.png) no-repeat;
	position: absolute;
	right: 24px;
	top: 24px
}
#ps-ok .return-index, #fabu-ok .return-index { text-align: center }
#ps-ok .return-index a, #fabu-ok .return-index a
{
	font-size: 16px;
	color: #0199ff
}
#ps-ok .dao321, #fabu-ok .dao321 { font-size: 12px }
#ps-ok .dao321 b, #fabu-ok .dao321 b { color: #f00 }
#ps-ok { height: 440px }
#ps-ok h1 { color: #39ccab }
#ps-ok li.on i, #ps-ok li.on em { background-image: url(../images/y34b.png) }
#ps-ok li.on em.s { background-image: url(../images/y17x16d.png) }
#ps-ok .hui span a, #ps-ok .hui span a:hover
{
	color: #39ccab;
	border-color: #39ccab;
	text-decoration: none
}
#ps-ok .hui .jxfb { background-image: url(../images/gh2.png) }
#ps-ok .hui .ckfb { background-image: url(../images/ck2.png) }
#ps-ok .hui .fx { background-image: url(../images/share2.png) }
#ps-ok .want-gh a { color: #000 }

/*分页*/
.page
{
	height: 28px;
	overflow: hidden;
	padding: 44px 45px 72px
}
.page a
{
	display: inline-block;
	line-height: 26px;
	padding: 0 8px;
	border: 1px solid #ccc;
	margin-left: 2px;
	border-radius: 2px;
	color: #666
}
.page a.on, .page a:hover
{
	background-color: #e3e3e3;
	color: #666;
	text-decoration: none
}
.page .up, .page .down { border: 0 }
.bdccc { border: 1px solid #ccc }