.body
{
    font-size:small;   
    text-align:center;
}
.poptrade
{
    height:400px;
    width: 100%;
    padding-bottom: 10px;
}
.bk
{
   /*     
    border-top: 1px solid #bfc4ca;
    overflow: hidden;*/
}
.bk li
{
    vertical-align: top;
    width: 100%;
    padding: 5px 0;
}
.bk li label
{
    float: left;
    width: 110px;
    display: block;
    overflow: hidden;
    height: 20px;
}
.bk li .listp
{
    margin-left: 100px;
}
.bk .listp p
{
    height: 30px;
}
.bk em
{
    color: #f00;
}
        
.tableStyle
{
    border: 1px solid #CCC;
    margin: 0 auto 10px;
    width: 98%;
    margin-right:10px;
}
.tableStyle th
{
    background: #ebf0f4;
    font-weight: bold;
    padding:5px;
    border-bottom: 1px solid #BFC4CA;
    text-align: center;
    white-space: nowrap;
}
.tableStyle td
{            
    padding:5px;
    border-bottom: 1px dashed #CCC;
    text-align:left;
    height:40px;
}
.tableStyle td a
{
    margin-right: 2px;
}       
.bt_bk2{text-align:center;margin-top:40px;}
.bt_style{width:80px;height:30px;text-align:center;  padding-top:5px;  background-image:url(/wnAdmin/css/bt-bg.gif); display:inline-block; color:#49494a;font-weight:bold;border:0; cursor:pointer;font-size:14px;}
